<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756672833802-hhi97rfkluj6i9dhvr7l2g92dmj2iu04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756672833802-hhi97rfkluj6i9dhvr7l2g92dmj2iu04</string>
	<key>API_KEY</key>
	<string>AIzaSyAfIWraoorGrKVWU76Bu2itupuk0P8Z11U</string>
	<key>GCM_SENDER_ID</key>
	<string>756672833802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>savkamykhailo.MoviesApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-11a82</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-11a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756672833802:ios:3b450d536053b915d232f3</string>
</dict>
</plist>